<a href="https://colab.research.google.com/github/Grace-Gitome/Hamoye-Projects/blob/main/Stage_A_assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files

uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [3]:
import pandas as pd
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = "latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [63]:
df.groupby(["Area","Y2017"]).sum()

                   Area Code  Item Code  Element Code    Y2014    Y2015  \
Area     Y2017
Algeria  -81.0             8       5536         10144     60.0    -10.0
         -47.0             8       5438         10144    312.0     70.0
         -11.0             4       2563          5072    -29.0    -11.0
         -6.0              4       2680          5072      1.0      4.0
         -5.0             12       8257         15412    -24.0    -24.0
...                      ...        ...           ...      ...      ...
Zimbabwe  1891.0         181       2901           664   1986.0   1912.0
          2209.0         181       2905          5301   2013.0   1851.0
          3101.0         724      10888         21624  15424.0  13392.0
          3452.0         362       5444         10262   7570.0   7104.0
          14237.0        181       2501           511  13587.0  13815.0

                     Y2016    Y2018
Area     Y2017
Algeria  -81.0      -121.0      0.0
         -47.0       122.0   -180.0
         -11.0        23.0     34.0
         -6.0          1.0      0.0
         -5.0        -28.0     -4.0
...                    ...      ...
Zimbabwe  1891.0    1885.0   1908.0
          2209.0    1940.0   2071.0
          3101.0   13932.0  14240.0
          3452.0    7456.0   7338.0
          14237.0  14030.0  14439.0

[14773 rows x 7 columns]

In [5]:
df.groupby(['Element']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [65]:
df.groupby(["Element"]).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [10]:
array = ([[94,89,63],
          [93,92,48],
          [92,94,56]])

In [12]:
array [:1,1:]
array

TypeError: ignored

In [14]:
df.groupby(['Y2017', 'Area']).sum()

,,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2018
Y2017,Area,,,,,,,
-1582.0,Egypt,118,5445,10144,5462.0,94.0,-1970.0,-4312.0
-1200.0,Mozambique,144,2532,5072,0.0,0.0,915.0,-1445.0
-1159.0,Mozambique,144,2907,5072,-219.0,-3.0,915.0,-1442.0
-865.0,United Republic of Tanzania,215,2913,5072,2308.0,2505.0,-195.0,-14.0
-860.0,United Republic of Tanzania,215,2556,5072,480.0,572.0,-212.0,-61.0
...,...,...,...,...,...,...,...,...
96443.0,Egypt,59,2501,511,90425.0,92443.0,94447.0,98424.0
106400.0,Ethiopia,238,2501,511,98094.0,100835.0,103603.0,109224.0
112625.0,Nigeria,159,2907,5301,108756.0,110798.0,116483.0,117038.0
117702.0,Nigeria,159,2907,5511,109593.0,111663.0,119330.0,118172.0
190873.0,Nigeria,159,2501,511,176405.0,181137.0,185960.0,195875.0

In [17]:
my_tuppy = (1,2,5,8)
my_tuppy[2] =6

TypeError: ignored

In [19]:
#unique countries
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [20]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [23]:
#allocate 8 to x
y = [(2,4),(7,8),(1,5,9)]
x =y[1][-1]
x

8

In [25]:
df.groupby(["Y2015", "Y2018"]).sum()

,,Area Code,Item Code,Element Code,Y2014,Y2016,Y2017
Y2015,Y2018,,,,,,
-3161.0,-296.0,202,2905,5072,439.0,-1499.0,2665.0
-2152.0,-597.0,202,2514,5072,626.0,-1324.0,2555.0
-1284.0,1898.0,276,2905,5072,4569.0,3266.0,-607.0
-907.0,-529.0,251,2905,5072,520.0,-506.0,532.0
-887.0,163.0,276,2518,5072,3134.0,2432.0,-819.0
...,...,...,...,...,...,...,...
92443.0,98424.0,59,2501,511,90425.0,94447.0,96443.0
100835.0,109224.0,238,2501,511,98094.0,103603.0,106400.0
110798.0,117038.0,159,2907,5301,108756.0,116483.0,112625.0
111663.0,118172.0,159,2907,5511,109593.0,119330.0,117702.0
181137.0,195875.0,159,2501,511,176405.0,185960.0,190873.0

In [28]:
S =[["him","sell"],
    [90,28,43]]

S[0][1][1]

'e'

In [29]:
len(df)

60943

In [31]:
df.shape

(60943, 12)

In [33]:
df.groupby(["Element"]).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [36]:
lst = [[35,'Portugal',94],[33,'Argentina',93],[30,'Brazil',92]]
col =['Age','Nationality','Overall']

data = pd.DataFrame(lst,
                    columns = col,
                    index =[1,2,3])
data

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [37]:
data.iloc[2]

Age                30
Nationality    Brazil
Overall            92
Name: 3, dtype: object

In [44]:
df.groupby(["Element","Element"]).sum()

,,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,Element,,,,,,,,
Domestic supply quantity,Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [62]:
df.groupby(['Area',]).aggregate({'Y2014': 'sum',
                                 'Y2015': 'sum',
                                 'Y2016': 'sum',
                                 'Y2017': 'sum',
                             'Y2018': 'sum'})

,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,
Algeria,313375.33,324058.40,326007.41,325644.27,341729.98
Angola,208584.42,209565.67,214725.32,229159.57,235206.68
Benin,118050.79,108181.13,117963.59,124771.22,124960.70
Botswana,22339.92,23024.85,22970.65,22101.30,23129.08
Burkina Faso,105051.33,102701.22,107702.27,101855.07,112970.72
Cabo Verde,14576.94,14538.93,14569.40,14650.74,14622.60
Cameroon,217630.28,225220.72,231714.36,232030.43,233022.93
Central African Republic,28739.02,28885.34,29454.54,29937.00,30101.57
Chad,65940.17,65835.88,72673.76,71594.68,72282.24
Comoros,32.00,41.34,54.91,59.84,59.84
Congo,38699.26,40255.51,40592.66,41181.68,42005.53
Côte d'Ivoire,195982.84,211591.29,211439.20,224599.01,227018.00
Djibouti,21332.28,23690.16,21783.91,22729.91,23718.96
Egypt,849192.30,868218.73,858568.63,866379.92,852652.92
Eswatini,53285.75,54072.07,54025.21,54343.33,55045.07
Ethiopia,415935.50,429139.33,444567.57,448683.76,450788.86
Ethiopia PDR,0.00,0.00,0.00,0.00,0.00
Gabon,28126.31,28367.30,28129.95,27979.64,28339.38
Gambia,19607.87,19665.39,21758.15,23154.18,23513.80
Ghana,308328.59,311092.13,314320.45,337599.06,358915.64
Guinea,91213.40,92803.39,95450.24,98138.87,103262.08
Guinea-Bissau,17708.67,17990.06,18524.83,19102.77,18997.92
Kenya,255211.01,265506.19,260257.56,264660.66,270916.80
Lesotho,19125.89,17965.84,17258.96,21267.96,19109.23
Liberia,27898.35,28698.10,29746.68,29342.20,29629.83
Madagascar,128985.32,126674.90,129010.25,131197.73,134576.44
Malawi,173454.86,167989.09,164970.42,181098.71,187366.09
Mali,123038.75,132456.58,147324.78,149928.33,159026.42
Mauritania,109557.63,61909.99,79872.42,156665.46,157479.95
Mauritius,50898.12,53372.42,49272.41,51114.83,47150.91
Morocco,375977.76,412473.80,367884.18,388495.36,399271.27
Mozambique,160757.87,158231.17,159924.41,161407.98,164934.05
Namibia,32026.42,30687.90,30389.07,29874.89,29350.04
Niger,108236.65,117834.65,123601.88,126707.58,133982.86
Nigeria,1399542.19,1414362.83,1482945.71,1483268.23,1499774.24
Rwanda,70001.38,70138.83,70921.76,73663.69,74839.08
Sao Tome and Principe,12458.64,12386.93,12647.56,12662.63,12806.49
Senegal,78533.93,91939.14,89017.72,95681.15,95493.82
Seychelles,305.20,358.20,416.32,442.34,442.34
Sierra Leone,62570.89,62523.14,52767.72,55311.33,55981.73
South Africa,497289.52,468352.18,462224.16,517590.54,509787.97
Sudan,247577.56,230652.54,253197.29,239931.92,268054.39
Sudan (former),0.00,0.00,0.00,0.00,0.00
Togo,47618.05,47834.59,47930.75,49841.88,54872.00
Tunisia,117029.33,128211.41,123778.86,124167.20,127343.17
Uganda,218142.33,220615.72,202981.34,213950.38,222147.25
United Republic of Tanzania,337430.64,341969.46,333765.86,322616.85,349763.41
Zambia,99318.53,96214.00,97728.69,103223.77,101604.27
Zimbabwe,78366.34,74041.79,75638.88,75919.34,76581.41

In [58]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64